body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    padding: 0;
    margin: 0;
    background: rgba(15,37,110,1); 
    overflow: hidden;
}


i.fa-snowflake{
    color: #fff;
    animation: fall 5s linear infinite forwards;
    position: absolute;  
}

@keyframes fall {
    to{
        transform: translateY(113vh);
    }
    
}